<div class="pt-[20px]">
  <%= render partial: "comparator_posts/comparator", locals: { comparator: @comparators.first } %>
  <p class="title mb-[15px]">À la une</p>
  <% if @comparators[1..].empty? %>
    <p class="">Il n'y a pas encore d'autres articles disponibles... Patience, cela arrive !</p>
  <% end %>
  <%= render partial: "comparator_posts/three_comparators", locals: { comparators: @comparators[1..] } %>
  <p class="title my-[15px]">Le Versus, c'est quoi ?</p>
  <div class="text-justify font-light">
  <p class="my-[5px]">Site Web <span class="font-medium">humoristique</span> créé en 2022, Le Versus cherche à créer du contenu <span class="font-medium">divertissant</span> (parfois sous fond de vérités) et <span class="font-medium">agréable</span>.</p>
  <p class="my-[5px]">Le Versus ne cherche pas à nuire ou autres, mais simplement à faire <span class="font-medium">rire</span> ses lecteurs à travers des comparaisons <span class="font-medium">drôles</span> et les plus respectueuses possible.</p>
  <p class="my-[5px]">Si tu <span class="font-medium">apprécies</span> Le Versus, penses à nous <span class="font-medium underline"><%= link_to "soutenir", support_path%></span> pour faire perdurer notre projet et nous aider à grandir.</p>
  </div>
  <p class="title my-[15px]">Vous appréciez Le Versus ? Alors soutenez-nous !</p>
  <p class="my-[5px]">Le Versus <span class="font-medium">dépend</span> entièrement <span class="font-medium">de vous et de vos soutiens !</span></p>
  <p class="my-[5px]">Il existe plusieurs facon de nous soutenirs et nous expliquons tous <span class="font-medium underline"><%= link_to "ça en détail sur notre page",  support_path %></span> dédié!</p>
</div>
