<div class="pt-[20px]" data-turbo="false">
  <p class="title">Découvres une comparaison aléatoire</p>
  <p class="text-right underline mb-[25px]"><%= link_to "Une autre comparaison !", comparaison_random_path %></p>
  <%= render partial: "comparator_posts/comparator", locals: { comparator: @comparator } %>
</div>
