<div class="flex flex-row flex-wrap items-center justify-center">
  <%= link_to "https://twitter.com", target: "_blank", class: "mx-[15px]" do %>
    <%= image_tag "rs/twitter.svg", class: "w-[43px]"%>
  <% end %>

  <%= link_to "https://instagram.com", target: "_blank", class: "mx-[15px]" do %>
    <%= image_tag "rs/instagram.svg", class: "w-[43px]"%>
  <% end %>
</div>
